body { 
	padding-top: 50px;
}

.about{
	background-color: #18BC9C;
	padding: 25px 0;
}

.margin-top-0{
	margin-top: 0;
}

.margin-0{
	margin: 0;
}

.summary{
	line-height: 2;
	color: #fff;
	font-size: 15px;
}

.project-entry{
	height: 180px;
}

hr{
    clear: both;
    float: none;
    width: 70%;
    height: 1px;
    margin: 10px auto;
    padding: 0;
    border: none;
    background: 0 0;
    background: -webkit-gradient(linear,left bottom,right bottom,color-stop(0,transparent),color-stop(0.2,#fff),color-stop(0.8,#fff),color-stop(1,transparent));
}

.project-entry h3{
	margin: 10px 0;
}

@media (min-width: 768px){
	
	.navbar-nav{
		float: none;	
		text-align: center;
	}
	.navbar-nav > li {
    	float: none;
		display: inline-block;
	}		
}

.navbar-color{
	background-color: #2C3E50;
	border-color: #080808;	
}

nav a{
    color: #fff;
}
